.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image{
background-image: url(./components/image.png);
 height: 100%;
 width: 100%; 
 background-size: cover;
  
  
}

.logo{
  width: 150px;
 margin-right: 300px
 
 
 
}


.car{
  display: flex;
  height: 300px;
  
  
 
}
.search{
  height:40px;
}

.movies{
  
  
  display: flex;
  flex-direction: row;
  overflow-x:scroll ;
  scroll-snap-type: x mandatory;
  
}
.movie{
 padding: 2px;
 
 
 
}
.me-auto{
 margin-left: 100px;
 font-size:x-large;

}
.nav-link{
  margin-left: 50px;

}

.movie-title{
  display: grid;
  color: red;
}
